VELORA_HTTP_PORT=8080

VELORA_HOST_CONFIG_DIR=./dev/config
VELORA_HOST_CACHE_DIR=./dev/cache
VELORA_HOST_MEDIA_DIR=./dev/media

VELORA_DATABASE_DRIVER=sqlite
VELORA_DATABASE_URL=/config/velora.db

POSTGRES_DB=velora
POSTGRES_USER=velora
POSTGRES_PASSWORD=velora
